body {
    font-family: 'Noto Serif SC', serif;
    /* background-image: url("bk1.png"), url("bk2.png");
    background-size: 100vw, 100vw;
    background-repeat: no-repeat, repeat; */
    /* background-color: #f7f5f2; */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg{
    width:100%;
    height:100%;
    position: relative;
    /* background-repeat: no-repeat, no-repeat;  */
    background-image: url("bk2.png");
    background-size: 50vw;
    background-position: left;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:1;
}
.bg:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(1px);
    z-index: 2;
}


header {
    background-color: #676666;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}

/* buttons on the top */
.buttons-bg {
    background-color: #202020;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container {
    width: 800px;
    max-width: 80vw;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    background-color: #202020;
    align-items: left;
}
.button {
    display: inline-block;
    /* margin: 0 10px; */
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202020;
    color: #fff;
    font-family: "Noto Sans SC", sans-serif;
    text-decoration: none;
    border-radius: 5px;
}

.h1-container{
    width: 800px;
    max-width: 80vw;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    align-items: left;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

section{
    padding: 15px;
}

h1{
    font-family: "Noto Sans SC", sans-serif;
    /* font-size: xx-large; */
    text-align: left;
    font-size: xx-large;
    box-sizing: border-box;
    position: relative;
}

.outer_container {
    width: 800px;
    max-width: 80vw;
    box-sizing: border-box;
    position: relative;
    top: 10px;
    background:rgba(255, 255, 255, 0.8);
    z-index: 5;
    border: solid #202020;
}

.container {
    box-sizing: border-box;
    position: relative;
    margin: 3px;
    border: 1px solid;
}

h2{
    font-family: "Noto Sans SC", sans-serif;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 1px #000000;
}

.scroll-container {
    background-color: #c2bfbf;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
.scroll-container img {
    padding: 3px;
    height: fit-content;
}

footer {
    background-color: #333;
    color: #fff;
    font-size: small;
    width: 100%;
    box-sizing: border-box;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}

.footer-container{
    width: 800px;
    max-width: 80vw;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .outer_container {
        max-width: none;
        width: 100%;
    }
    .buttons-container,.h1-container,.footer-container {
        max-width: none;
        width: 100%;
        margin-left: 20px;
    }
    .outer_container::before,
    .outer_container::after {
        display: none;
    }
    .bg{
        width:100%;
        height:100%;
        position: relative;
        /* background-repeat: no-repeat, no-repeat;  */
        background-image: url("bk2.png");
        background-size: 100vw;
        background-position: left;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index:1;
    }
}
