body {
    font-family: 'Noto Serif SC', serif;
    /* background-image: url("bk1.png"), url("bk2.png");
    background-size: 100vw, 100vw;
    background-repeat: no-repeat, repeat; */
    /* background-color: #f7f5f2; */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg{
    width:100%;
    height:100%;
    position: relative;
    /* background-repeat: no-repeat, no-repeat;  */
    background-image: url("bk2.png");
    background-size: 50vw;
    background-position: left;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:1;
}
.bg:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(1px);
    z-index: 2;
}
  
.outer_container {
    width: 800px;
    max-width: 80vw;
    box-sizing: border-box;
    position: relative;
    background:rgba(255, 255, 255, 0.8);
    z-index: 5;
}
.outer_container::before,
.outer_container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #a43820;
}
.outer_container::before {
    left: 0;
    width: 3px;
}
.outer_container::after {
    right: 0;
    width: 3px;
}
.container {
    /* width: 800px;
    max-width: 80vw; */
    /* padding-top: -20px; */
    box-sizing: border-box;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.container::before,
.container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #a43820;
}
.container::before {
    left: 0;
    width: 1px;
}
.container::after {
    right: 0;
    width: 1px;
}
header {
    background-color: #a43820;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.buttons-container {
    background-color: #c05030;
    padding: 5px 0;
}
.button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #c05030;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
section{
    padding: 15px;
}
h2{
    font-family: "Noto Sans SC", sans-serif;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 1px #9e2f2f;
}

.scroll-container {
    background-color: #c2bfbf;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
.scroll-container img {
    padding: 3px;
    height: fit-content;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .outer_container {
        max-width: none;
        width: 100%;
    }
    .outer_container::before,
    .outer_container::after {
        display: none;
    }
    .bg{
        width:100%;
        height:100%;
        position: relative;
        /* background-repeat: no-repeat, no-repeat;  */
        background-image: url("bk2.png");
        background-size: 100vw;
        background-position: left;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index:1;
    }
}
